* {
    padding:0px;
    margin:0px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');



:root {
    --cor01:#665953;
    --cor02:#B3785B;
    --cor03:#F7D7C8;
    --cor04:#F5A57D;
    --cor05:#75665F;
    --fonte01:'Montserrat', sans-serif;
    --fontemain:'Open Sans', sans-serif;
}

body {
    background-image:linear-gradient(to bottom, #665953,#B3785B);
    background-attachment: fixed;
}

header {
    min-height:150px;
    padding-top:25px;
    background-image:linear-gradient(to right, #f5a57d93, transparent);
    border-radius:0px 0px 10px 10px;
    box-shadow: 4px 3px 5px 2px rgba(0, 0, 0, 0.563);
}

header nav {
    float:right;
    padding-right:10px;
    
}

header h1 {
    text-align:center;
    padding-top:60px;
    font-size:4em;
    font-family:var(--fonte01);
    font-weight:normal;
    color:rgb(255, 255, 255);
}

header p {
    text-align:center;
    padding-bottom:40px;
    padding-top:10px;
    font-size:1.3em;
    font-family:var(--fonte01);
    color:rgb(255, 255, 255); 
    text-shadow:1px 1px 2px black;
}

nav a {
    color:white;
    text-decoration:none;
    padding:20px;
    font-size:1.2em;
    font-family:var(--fonte01);
 }

 nav a:hover {
    color:var(--cor04);
    background-color:#75665F;
    border-radius:10px;
 }

 main {
    background-color:#F7D7C8;
    min-width:320px;
    max-width:980px;
    margin:auto;
    border-radius:10px;
    margin-top:50px;
    margin-bottom:10px;
 }

 main p {
    padding:20px;
    font-family:var(--fontemain);
    line-height:2em;
 }

 main h1,h2 {
    padding:10px;
    font-family:var(--fonte01);
 }

 