* {
    margin:0;
    padding:0;
}

header h1 {
    text-align:center;
    font-size:2em;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:10px;
    margin-top:40px;
}
header p {
    text-align:center;
    font-size:1em;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:20px;
}
main {
    max-width:980px;
    min-width:320px;
    background-color:lightgrey;
    margin:auto;
}
main h1 {
    text-align:center;
    padding-bottom:10px;
    padding-top:10px;
}
legend {
    font-size:1.5em;
    font-family:Arial, Helvetica, sans-serif;
}
fieldset {
    border:2px solid black;
    width:600px; 
    padding:20px;
    margin:auto;
    border-radius:5px;
    
}
section input {
    border-radius:10px;
    padding:2px; 
    margin:5px;
    column:2;
}

label {
    font-size:1.5em;
      
}

select {
    padding:10px;
}

